
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container"> 
        <br />
        <h2>Kayıt Ol</h2>
        <div class="form-group col-md-3 container">
            <form method="post">

                <label>Ad</label>
                <input type="text" name="Name" class="form-control" required />
                <br />

                <label>Soyad</label>
                <input type="text" name="Surname" class="form-control" required />
                <br />

                <label>E-mail</label>
                <input type="text" name="Email" class="form-control" required />
                <br />

                <label>Kullanıcı Ad</label>
                <input type="text" name="Username" class="form-control" required />
                <br />

                <label>Şifre Ad</label>
                <input type="password" name="Password" class="form-control" required />
                <br />

                <label>Şifre Tekrar</label>
                <input type="password" name="RepPass" class="form-control" required />
                <br />

                <label>Bayi Telefonu</label>
                <input type="text" name="BayiTel" class="form-control" required />
                <br />

                <label>Bayi Adres</label>
                <input type="text" name="BayiAdres" class="form-control" required />
                <br />

                <label>Bayi Adı</label>
                <input type="text" name="BayiAdi" class="form-control" required />
                <br />



                <button class="btn btn-secondary">Kayıt Ol</button>






            </form>
        </div>
    </div>

</body>
</html>
